*{
  margin: 0;
  font-family: Montserrat, sans-serif;
  padding: 0 ;
}

.container{
  width: 100%;
  max-width: 935px;
  margin: 0 auto;
}

.clearfix{
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

div{
  box-sizing: border-box;
}

//Блок HEADER

#header{
  background: url("../public/images/header.jpg") no-repeat;
  height: 620px;
}

.logo_menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;

}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-left: 10px;
  }
}

.menu{
  a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding-left: 30px;
  }
}

.header_content{
  width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_text{
  text-align: center;
  padding-top: 160px;
  p{
    font-size: 25px;
    font-weight: lighter;
    color: #c7c5cc;
    padding-bottom: 15px;
  }
  h1{
    font-size: 62px;
    color: white;
  }
}

.header_button{
  text-align: center;
  padding-top: 80px;
  a{
    font-size: 23px;
    color: white;
    text-decoration: none;
    padding: 20px 65px;
    border: 3px solid white;
    border-radius: 2px;
  }
}

// Блок Dev and Bran

#dev{
  background: #fff;
}

#bran{
  background: #fafafa;
}

.block_dev_bran{
  width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 60px 0;
}

.dev_content{
  width: 555px;
  margin: 0;
  h3{
    font-size: 42px;
    font-weight: lighter;
    padding-bottom: 35px;
  }
    span{
      font-weight: bold;
    }
  p{
    font-size: 13px;
    color: #777;
    padding-bottom: 40px;
  }
}

.dev_content1{
  width: 515px;
  margin: 0;
}

.dev_img{
  width: 221px;
}

.dev_img1{
  width: 270px;
}

// Блок Icon and Text

#icon_and_text{
  padding: 100px 0 55px 0;
}

.icon_and_text{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col1, .col2{
  width: 375px;
  margin: 0;
}

.col1{
  margin-right: 115px;
}

.it_block{
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-bottom: 45px;
}

.it_block_img{
  padding-right: 20px;
}

.it_block_content{
  margin: 0;
  h4{
    font-size: 15px;
    color: #000;
    padding-bottom: 15px;
  }
  p{
    font-size: 13px;
    color: #333;
  }
}

// Блок Awesome Client

#awesome_client{
  background: #fafafa;
  padding: 100px 0 60px 0;
}

.zagolovki{
  text-align: center;
  margin: 0;
  h3{
    font-size: 42px;
    font-weight: lighter;
    padding-bottom: 10px;
  }
    span{
      font-weight: bold;
    }
  p{
    font-size: 15px;
    color: #777;
    padding-bottom: 50px;
  }
}

.awesome_client_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.awesome_client_block_img{
  width: 220px;
  height: 220px;
  background: black;
  border-radius: 50%;
}

.awesome_client_block_content{
  width: 645px;
  margin-right: 25px;
  background: white;
  padding: 40px 75px 40px 60px;
  border: 1px solid #e9e9e9;
  position: relative;
  p{
    font-size: 20px;
    padding-bottom: 15px;

  }
  span{
    font-size: 14px;
    padding-left: 25px;
    color: #7690c5;
  }
}

.triangl{
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 12.5px 20px 12.5px 0;
  border-color: transparent #ffffff transparent transparent;
  top: 82px;
  left: -45px;
}

.triangl1{
  border-style: solid;
  border-width: 12.5px 0 12.5px 20px;
  border-color: transparent transparent transparent #ffffff;
  top: 82px;
  left: 643px;
}

.triangl:before{
  content: '';
  width: 25px;
  display: block;
  position: absolute;
  top: -7px; left: 22px;
  border-top: 1px solid #e9e9e9;
  transform: rotate(-30deg);
}

.triangl1:before{
  top: -7px; left: -22px;
  transform: rotate(-150deg);
  border-top: 1px solid #e9e9e9;
}

.triangl:after{
  content: '';
  width: 25px;
  display: block;
  position: absolute;
  top: 6px; left: 22px;
  border-top: 1px solid #e9e9e9;
  transform: rotate(-150deg);
}

.triangl1:after{
  top: 6px; left: -22px;
  transform: rotate(-30deg);
  border-top: 1px solid #e9e9e9;
}

.awesome_client_block_content1{
  margin: 0 0 0 25px;
}

//Блок СПОНСОРЫ

#sponsors{
 padding: 60px 0;
}

.sponsors{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

//Блок AMAZING TEAM

#amazing_team{
  background: #111;
  padding: 100px 0 60px 0;

}

.zagolovki1{

  h3{
    color: white;
  }
  span{
    color: white;
  }
  p{
    color: #5c5c5c;
    padding-bottom: 70px;
  }
}

.amazing_team_block{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}

.amazing_team_block_1-3{
 width: 260px;
}

.amazing_team_block_img{
  width: 235px;
  height: 235px;
  background: #111;
  border-radius: 50%;
  border: 8px solid white;
}

.amazing_team_block_content{
  color: white;
  text-align: center;
  h5{
    font-size: 12px;
    font-weight: bold;
    padding: 20px 0 5px 0;
  }
  p{
    font-size: 11px;
    font-weight: normal;
    padding-bottom: 10px;
  }
}

.amazing_team_block_click{
  display: flex;
  justify-content: center;
}

.faby{
  text-align: center;
  padding: 10px 0;
  width: 40px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 50%;
}

.amazing_click{
  width: 50px;
}

.amazing_team_block_text{
  font-size: 15px;
  text-align: center;
  color: white;
  padding: 50px 150px 40px 150px;
}

//Блок Say Hello

#say_hello{
  background: #7690c5;
  padding: 100px 0 83px 0;
}

.say_hello{
  display: flex;
  justify-content: space-between;
}

.say_hello_block{
  width: 420px;
}

.say_hello_block_text{
  display: flex;
  justify-content: space-between;
}

.say_hello_block_text_row{
  display: flex;
  padding-bottom: 40px;
}

.zagolovki2{
  text-align: left;
  font-size: 44px;
  h3{
    color: white;
  }
  span{
    color: white;
  }
  p{
    font-size: 13px;
    color: #fff;
    padding-bottom: 45px;
  }
}

.say_hello_block_text_row{
  div{
    i{
      width: 25px;
      font-size: 18px;
      color: white;

    }
    a{
      font-size: 14px;
      color: white;
      text-decoration: none;
    }
  }
}

 // FORMA

.forma{
  width: 457px;
  display: flex;
  flex-direction: column;
}

.massage{
  height: 210px;
}

.setform{
  width: 455px;
  margin-bottom: 30px;
  outline: none;
  font-size: 18px;
  color: #bbbbbb;
  padding: 17px 21px;
  border: none;
  border-radius: 3px;
}

input::placeholder, textarea::placeholder{
  color: #bbbbbb;
}


//Блок Footer

#footer{
  background: #7690c5;
}

.foot_hr{
  border-top: 2px solid #87a0d2;
  padding: 30px 0;
}

.footer_text{
  text-align: center;
  font-size: 12px;
  color: white;
}


